.footer-container {
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05rem;
    padding: 2rem 0 3rem;
}

.footer-links {
    margin-top: 1.5rem;
}

.footer-links ul {
    display: flex;
}

.footer-links li {
    padding: 0 1.25rem;
}

.footer-links svg {
    color: var(--light-blue);
    height: 1.25rem;
    width: 1.25rem;
}

.footer-links svg:hover {
    color: var(--grayish-pink);
}

@media screen and (max-width: 768px) {
    .footer-container {
        font-size: var(--fs-sl);
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .footer-container {
        font-size: var(--fs-xsl);
    }

    .footer-links li {
        padding: 0 0.875rem;
    }

    .footer-links svg {
        height: 1rem;
        width: 1rem;
    }
}

@media screen and (max-width: 330px) {
    .footer-container {
        padding: 2rem 0;
    }
}
