.footer-container{
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.05rem;
    padding: 4rem 0;
}

.footer-links{
    margin-top: 2rem;
}

.footer-links ul{
    display: flex;
}

.footer-links li{
    padding: 0 1.25rem;
}

.footer-links svg{
    color: var(--light-blue);
    height: 1.5rem;
    width: 1.5rem;
}

