.home-container{
    background-color: var(--dark-blue);
    height: 100vh;
    position: relative;
    padding-top: 1.5rem;
}

.image-and-intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 4.375rem); /*for space occupied by navbar*/
    margin-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.intro > h1{
    color: var(--grayish-pink);
    font-size: clamp(var(--fs-sl),5vw,var(--fs-md));
    font-weight: var(--fw-regular);
    letter-spacing: 0.1rem;
}

.wave{
    font-size: clamp(var(--fs-md),5vw,var(--fs-xl));
}

.headings{
    color: var(--blue-white);
}

.headings > h2{
    font-size: clamp(1.875rem, 6vw, 4rem);
    font-weight: var(--fw-bold);
    line-height: 1.0;
}

.span-h2{
    color: var(--light-blue);
}

.image-container{
    align-self: flex-end;
    position: relative;
    padding-right: 1.25rem; /* fix overflow of image box stroke */
}

.image-box{
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    height: clamp(10rem, 30vw, 22rem);
    position: relative;
    width: clamp(10rem, 30vw, 22rem);
    overflow: hidden;
    z-index: 1;
}

.image-box-stroke{
    border: 0.25rem solid var(--grayish-pink);
    height: clamp(10rem, 30vw, 22rem);
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    width: clamp(10rem, 30vw, 22rem);
}

.social-links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 5rem;
    z-index: 11;
}

.line{
    background-color: var(--grayish-pink);
    border-radius: 50%;
    width: 0.15rem;
    height: 6rem;
    padding: 1rem 0;
}

.line:last-child{
    height: 3rem;
}

.social-links li{
    padding: 0.7rem 0;
}

.social-links svg{
    color: var(--grayish-pink);
    height: 1.5rem;
    width: 1.5rem;
}

.social-links svg:hover{
    color: var(--light-blue);    
}


.scroll-down-left{
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: var(--fs-sl);
    position: absolute;
    bottom: 2rem;
    left: 5rem;
}

.scroll-down-left span{
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

.scroll-down-left svg{
    margin-top: 1rem;
    height: 0.875rem;
    width: 0.875rem;
}

.first-heading{
    opacity: 0;
    animation: animateDownwards 0.8s cubic-bezier(0.65, 0.05, 0.38, 0.94) 0.8s forwards;
}

.second-heading{
    opacity: 0;
    animation: animateDownwards 0.8s cubic-bezier(0.65, 0.05, 0.38, 0.94) 1.05s forwards;
}

.third-heading{
    opacity: 0;
    animation: animateDownwards 0.8s cubic-bezier(0.65, 0.05, 0.38, 0.94) 1.5s forwards;
}

.animated-image{
    opacity: 0;
    animation: animateUpwards 0.5s ease-in-out 1.5s forwards;
}

.animated-links{
    opacity: 0;
    transition: var(--transition);        
    animation: animateDisplay 0.8s linear 2.25s forwards;
}

.animated-scroll-down{
    animation: up-down .9s linear infinite;
}

.gradient{
    background: -webkit-linear-gradient(135deg,var(--light-blue), var(--pink),var(--light-blue), var(--pink));
    background: linear-gradient(-45deg,var(--light-blue), var(--pink),var(--light-blue), var(--pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

@media screen and (max-width: 1024px) {
    .home-container{
        padding-top: 0;
    }

    .image-and-intro{
        padding-bottom: 0;
    }

    .image-container{
        margin: 2rem 0;
    }

    .social-links{
        right: 3rem;
    }

    .scroll-down-left{
        left: 2.5rem;
    }
}

@media screen and (min-height: 1024px) {
    .image-container{
        margin: 4rem 2rem;
    }

    .image-and-intro{
        padding-top: 3rem;
        justify-content: center;
    }

    .social-links{
        flex-direction: row;
        bottom: 6rem;
        right: 5rem;
    }

    .line{
        width: 6rem;
        height: 0.15rem;
        padding: 0 1rem;
        margin: 0 1rem;
    }

    .line:last-child{
        height: 0.15rem;
    }

    .social-links li{
        margin: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .image-and-intro{
        height: calc(100vh - 10.375rem);
    }
}

@media screen and (max-width: 768px){
    .social-links{
        display: none;
    }

    .scroll-down-left{
        align-items: flex-end;
        bottom: 6.5rem;
        right: 2rem;
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 500px){
    .home-container{
        height: 96.5vh;
    }

    .intro{
        align-self: center;
        text-align: center;
    }

    .image-and-intro{
        height: calc(100vh - 5.375rem);
    }
    
    .headings > h2{
        font-size: clamp(1.5rem, 7vw, 4rem);
        line-height: 1.2;
    }

    .image-container{
        align-self: center;
        margin: 3.5rem 0;
        padding: 0 0 2rem 0;
    }

    .image-box, .image-box-stroke{
        height: clamp(10rem, 60vw, 22rem);
        width: clamp(10rem, 60vw, 22rem);
    }

    .image-box-stroke{
        border-width: 0.2rem;
        left: 0.8rem;
        top: 0.8rem;
    }

    .intro > h1 {
        font-size: clamp(var(--fs-sl),2vw,var(--fs-md));
    }

    .scroll-down-left{
        display: none;
    }

}

@media screen and (max-width: 340px) {
  .intro > h1{
    font-size: var(--fs-xsl);
  }
}