.max-width-container {
    @media screen and (max-width: 320px) {
        overflow: scroll;
    }

    max-width: 93.5vw;
    margin: auto;

    @media screen and (min-width: 990px) {
        max-width: 96.5vw;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1200px;
    }
}
